html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: $font-small;
    font-weight: 400;
    color: $dkgrayishblue;
    font-family: 'Be Vietnam', sans-serif;
    overflow-x: hidden;
    @include breakpoint-up(large) {
        font-size: $font-med;
    }
    &.noscroll {
        overflow: hidden;
    }
}

a, a:hover, a:visited {
    text-decoration: none;
}
p {
    margin-bottom: 2.25rem;
    line-height: 2;
}
h1, h2, h3 {
    margin-top: 0;
    color: $vdkblue;
    font-weight: 700;
    line-height: 1.15;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    @include breakpoint-up(large) {
        font-size: $font-xlarge;
        margin-bottom: 3rem;
    }
}
h2 {
    font-size: 1.875rem;
    margin-bottom: 1.5625rem;
    @include breakpoint-up(large) {
      font-size: 2.5rem;
      margin-bottom: 2.25rem;
    }
  }
h3 {
    font-size: $font-small;
    @include breakpoint-up(large) {
        font-size: $font-large;
    }
}
.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    max-width: 69.375rem;
    margin: 0 auto;
    &--pall {
        padding: 2.5rem 1.5rem;
        @include breakpoint-up(large) {
            padding: 3.5rem 1.5rem;
        }
    }
    &--px {
        padding: 0 1.5rem;
    }
}
.button {
    position: relative;
    font-size: $font-small;
    display: inline-block;
    padding: 18px 34px;
    background-color: $btred;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    color: $vpred;
    box-shadow: 0 20px 16px -16px $btred;
    transition: opacity 300ms ease-in-out;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.35);
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
    &:hover::before {
        opacity: 1;
    }
}
.hide-for-mobile {
    // hide for tablet and mobile
    @include breakpoint-down(medium) {
      display: none;
    }
  }
  .hide-for-desktop {
    // hide for desktop viewport
    @include breakpoint-up(large) {
      display: none;
    }
  }