// Primary Colors
$btred: hsl(12, 88%, 59%);
$dkblue: hsl(228, 39%, 23%);

// Neutral Colors
$dkgrayishblue: hsl(227, 12%, 61%);
$vdkblue: hsl(233, 12%, 13%);
$vpred: hsl(13, 100%, 96%);
$vlgray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font sizes
$small: 0.875rem;